#home {
    background: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0;
    border: 1px solid #cfcfcf;
}

#conteiner-pai {
    background: rgb(238, 237, 237);
  
}

footer ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;
    
}

footer ul li a:hover {
    text-decoration: none;
    color: rgb(85, 83, 83);
    font-size: 17px;
}

